main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10%;
}

#weatherToday {
	width: 500px;
	height: 500px;
	margin: 10%;
}
#weatherImage {
	height: 60%;
	width: 100%;
	background-color: green;
}

#weatherInfoToday {
	border: red 1px solid;
	height: 35%;
}
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0px;
}
#name {
	align-items: center;
}
#contact {
	position: fixed;
	left: 10px;
	bottom: 0px;
}
footer p {
	font-size: 0.75em;
}

@media only screen and (max-width: 600px) {
	footer {
		flex-direction: column;
		margin-bottom: 2vh;
		margin-left: 10px;
	}
}