body {
	height: 100vh;
	width: 100vw;
	text-align: center;
}
#name {
	align-items: center;
}

header {
	text-align: center;
}

footer p {
	font-size: 0.75em;
}

.appArea {
	grid-area: appArea;
	height: 100vh;
	width: 100vw;
}

.formArea {
	grid-area: formArea;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		'previousTitle'
		'previousResults'
		'ingredientInput';
}

#ingredientInput {
	grid-area: ingredientInput;
}

#previousTitle {
	grid-area: previousTitle;
}

.resultsArea {
	grid-area: resultsArea;
}
#titleBar {
	grid-area: title;
}

footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

h2 {
	text-align: center;
}

.hiddenItemHide {
	display: none;
}

#previousResults {
	grid-area: previousResults;
	display: inline-flex;

	width: 100%;
	overflow-x: auto;
}

.previousContainer {
	grid-area: previousContainer;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.previousContainer:hover {
	cursor: pointer;
	opacity: 80%;
}

.previousImage {
	object-fit: cover;
	height: 100px;
}

.appArea {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		'. title .'
		'. formArea .'
		'. resultsArea .'
		'. resultsArea .'
		'. resultsArea .'
		'footer footer footer';
}

@media only screen and (max-width: 600px) {
}
